.Button {
  padding: 10px 25px 10px 25px;

  border: 2px solid #000;
  border-radius: 10px;

  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  cursor: pointer;
}

/*button-primary-light*/

.Button_theme_light.Button_role_primary {
  background-color: #000;

  color: #fff;

  transition: background-color 0.2s;
}

.Button_theme_light.Button_role_primary:hover {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;

  color: #fff;
}

.Button_disabled.Button_theme_light.Button_role_primary {
  background-color: #cfcfcf;
  border: 2px solid #cfcfcf;

  color: #fff;
}

/*button-secondary-light*/

.Button_theme_light.Button_role_secondary {
  background-color: #fff;

  color: #000;

  transition: background-color 0.2s;
}

.Button_theme_light.Button_role_secondary:hover {
  background-color: #fff;
  border: 2px solid #5f5f5f;

  color: #5f5f5f;
}

.Button_disabled.Button_theme_light.Button_role_secondary {
  background-color: #fff;
  border: 2px solid #cfcfcf;

  color: #cfcfcf;
}

/*button-primary-dark*/

.Button_theme_dark.Button_role_primary {
  background-color: #fff;
  border: 2px solid #fff;
  transition: background-color 0.2s;

  color: #000;
}

.Button_theme_dark.Button_role_primary:hover {
  background-color: #cfcfcf;
  border: 2px solid #cfcfcf;

  color: #000;
}

.Button_disabled.Button_theme_dark.Button_role_primary {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;

  color:#878787;
}

/*button-secondary-dark*/

.Button_theme_dark.Button_role_secondary {
  background-color: #000;
  border: 2px solid #fff;
  transition: background-color 0.2s;

  color: #fff;
}

.Button_theme_dark.Button_role_secondary:hover {
  background-color: #000;
  border: 2px solid #cfcfcf;

  color: #cfcfcf;
}

.Button_disabled.Button_theme_dark.Button_role_secondary {
  background-color: #000;
  border: 2px solid #5f5f5f;

  color:#878787;
}
