/*Containers*/

.General {
  width: 700px;
  height: 214px;

  padding: 20px 0 20px 0;

  display: flex;

  border: 3px dashed #7b61ff;
  border-radius: 10px;
}

.GroupButtons {
  display: grid;
  grid: 65px 65px / 65% 65%;

  padding: 30px;
}

.GroupButtons_theme_dark {
  background-color: #000000;
}

/*button*/

.Button {
  padding: 10px 25px 10px 25px;

  border: 2px solid #000000;
  border-radius: 10px;

  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  cursor: pointer;
}

/*button-primary-light*/

.Button_theme_light.Button_role_primary {
  background-color: #000000;

  color: #ffffff;

  transition: background-color 0.2s;
}

.Button_theme_light.Button_role_primary:hover {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;

  color: #ffffff;
}

.Button_disabled.Button_theme_light.Button_role_primary {
  background-color: #cfcfcf;
  border: 2px solid #cfcfcf;

  color: #ffffff;
}

/*button-secondary-light*/

.Button_theme_light.Button_role_secondary {
  background-color: #ffffff;

  color: #000000;

  transition: background-color 0.2s;
}

.Button_theme_light.Button_role_secondary:hover {
  background-color: #ffffff;
  border: 2px solid #5f5f5f;

  color: #5f5f5f;
}

.Button_disabled.Button_theme_light.Button_role_secondary {
  background-color: #ffffff;
  border: 2px solid #cfcfcf;

  color: #cfcfcf;
}

/*button-primary-dark*/

.Button_theme_dark.Button_role_primary {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  transition: background-color 0.2s;

  color: #000000;
}

.Button_theme_dark.Button_role_primary:hover {
  background-color: #cfcfcf;
  border: 2px solid #cfcfcf;

  color: #000000;
}

.Button_disabled.Button_theme_dark.Button_role_primary {
  background-color: #5f5f5f;
  border: 2px solid #5f5f5f;

  color:#878787;
}

/*button-secondary-dark*/

.Button_theme_dark.Button_role_secondary {
  background-color: #000000;
  border: 2px solid #ffffff;
  transition: background-color 0.2s;

  color: #ffffff;
}

.Button_theme_dark.Button_role_secondary:hover {
  background-color: #000000;
  border: 2px solid #cfcfcf;

  color: #cfcfcf;
}

.Button_disabled.Button_theme_dark.Button_role_secondary {
  background-color: #000000;
  border: 2px solid #5f5f5f;

  color:#878787;
}
